<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>회원가입</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/javascript/join.js"></script>

</head>

<body>
	<!--        계정만들기   -->
	<div class="container">
		<div class="py-5 text-center">
			<h2>회원가입</h2>
		</div>
		<div class="row justify-content-center">
			<form class="needs-validation col-sm-6" th:action="@{/system/join}" method="post" novalidate>
				<div class="form-group">
					<label for="id">아이디</label> <input id="id" type="text" name="id" class="form-control"
						placeholder="ID를 입력해 주세요">
					<button id="checkAvailabilityButton" class="btn btn-primary" type="button">중복확인</button>
					<div id="idCheckResult"></div> <!-- 중복확인 결과를 표시할 공간 -->
					<!--	<input type="hidden" name="idDuplication" value="idUncheck" />-->
					<!--  <small id="nicknameHelp" class="form-text text-muted">
                            공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                        </small>  
                        <small class="invalid-feedback">아이디는 필수 정보입니다.</small>-->
				</div>
				<div class="form-group">
					<label for="email">이메일</label> <input id="email" type="email" name="email" class="form-control"
						placeholder="ex)your@email.com" required>
					<!--<button id="checkEmailAvailabilityButton" class="btn btn-primary" type="button">중복확인</button>
					<div id="emailCheckResult"></div>  중복확인 결과를 표시할 공간 -->
				</div>

				<div class="form-group">
					<label for="password">비밀번호</label> <input id="password" type="password" name="password"
						class="form-control" required minlength="8" maxlength="18" placeholder="비밀번호를 입력해 주세요.">
				</div>
				<div class="form-group">
					<label for="password">비밀번호 확인</label> <input id="cpassword" type="password" name="cpassword"
						class="form-control" placeholder="비밀번호 확인해 주세요.">
				</div>
				<div class="form-group">
					<label for="name">이름</label> <input id="name" type="text" name="name" class="form-control" required
						placeholder="이름을 입력해 주세요.">
				</div>
				<div class="form-group">
					<label for="name">영문이름</label> <input id="ename" type="text" name="ename" class="form-control"
						required placeholder="영문이름을 입력해 주세요.">
				</div>
				<div class="form-group">
					<label for="name">생년월일</label> <input id="rrnumber" type="text" name="rrnumber" class="form-control"
						maxlength="10" required placeholder="ex)0000.00.00"
						pattern="\d{4}\.(0[1-9]|1[0-2])\.(0[1-9]|[12][0-9]|3[01])" oninput="formatBirthdate(this)">
				</div>
				<div class="form-group">
					<label for="address">주소</label>
					<input id="address" type="text" class="form-control" placeholder="주소를 입력해 주세요." name="address"
						required>
					<button class="btn btn-primary" onclick="openAddressPopup()">주소 찾기</button>
				</div>
		</div>
		<div class="form-group">
			<label for="detailAddress">상세주소</label> <input id="detailAddress" type="text" name="detailAddress"
				class="form-control" required placeholder="상세주소를 입력해 주세요.">
		</div>
		<div class="form-group">
			<label for="phone">전화번호</label> <input id="phone" type="tel" name="phone" class="form-control"
				placeholder="전화번호를 입력해 주세요." aria-describedby="phoneHelp" maxlength="13" required
				pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}" title="XXX-XXXX-XXXX 형식으로 입력하세요"
				oninput="formatPhoneNumber(this)">
		</div>

		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit" onclick="return joinForm()">가입하기</button>
		</div>
		</form>
	</div>


	<footer th:fragment="footer">
		<div class="row justify-content-center">
			<img class="mb-2" src="/images/test_logo.jpg" alt="" width="100">
			<small class="d-block mb-3 text-muted">&copy; 2020</small>
		</div>
	</footer>

	</div>

	<!--부트스트랩 유효성 검사-->
	<script type="application/javascript" th:fragment="form-validation">

		(function () {
			'use strict';

			window.addEventListener('load', function () {
				// 페이지 로딩이 완료되면이 블록 내의 코드가 실행됩니다.
				// 'use strict';는 JavaScript에 대해 엄격한 규칙을 적용합니다.

				var forms = document.getElementsByClassName('needs-validation');
				// 'needs-validation' 클래스를 가진 모든 요소를 가져옵니다 (Bootstrap 유효성 검사를 위한 클래스).

				Array.prototype.filter.call(forms, function (form) {
					// form을 배열로 변환하고 filter 함수를 적용합니다.

					form.addEventListener('submit', function (event) {
						// 양식의 제출 이벤트를 수신합니다.

						if (form.checkValidity() === false) {
							// HTML5 유효성 검사를 기반으로 양식이 유효하지 않으면 제출을 방지합니다.
							event.preventDefault();
							event.stopPropagation();
						}

						form.classList.add('was-validated');
						// 'was-validated' 클래스를 양식에 추가하여 Bootstrap 스타일을 적용합니다.
					}, false);
				});
			}, false);
		}());

	</script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function openAddressPopup() {
			new daum.Postcode({
				oncomplete: function (data) {
					var fullAddress = data.address; // 선택한 주소 전체
					document.getElementById('address').value = fullAddress;
				}
			}).open();
		}
	</script>

	<script>
		var isIdAvailable = false; // ID 가용성 확인 상태를 저장하는 변수
		$(document).ready(function () {
			// DOM이 완전히 로드된 후에 이벤트 핸들러를 연결하기 위해 사용

			window.checkIdAvailability = function () {

				// 아이디 값 가져오기
				var idValue = $('#id').val();

				// 유효성 검사: 영어 소문자와 숫자를 포함하며, 4글자 이상 10글자 이하
				if (!checkEngNumberAndLowerCase(idValue) || idValue.length < 4 || idValue.length > 10) {
					alert("영문 소문자와 숫자를 포함해서 4글자 이상 10글자 이하로 입력하세요.");
					$('#id').focus();
					return false;
				}

				// 중복 확인 Ajax 요청
				$.ajax({
					type: "post",
					url: "/system/checkIdAvailability",
					data: {"id": idValue},
					dataType: 'text',
					success: function (result) {
						if (result === "no_use") {
							alert("사용할 수 없는 아이디입니다.");
							isIdAvailable = false; // 중복 확인 실패 시 상태 변경
							showCheckAvailabilityButton(); // 버튼을 보여줌
						} else {
							alert("사용 가능한 아이디입니다.");
							isIdAvailable = true; // 중복 확인 성공 시 상태 변경
							hideCheckAvailabilityButton(); // 버튼을 숨김
						}
					},
					error: function (data, textStatus) {
						alert("전송 실패");
					}
				});
			}

			// 버튼에 클릭 이벤트를 연결
			$('#id').on('input', function () {
				$('#idCheckResult').text('');  // 사용자가 입력을 변경할 때 결과를 지우기
				isIdAvailable = false; // 아이디가 변경되면 중복 확인 상태 초기화
				showCheckAvailabilityButton(); // 버튼을 보여줌
			});

			$('#checkAvailabilityButton').on('click', checkIdAvailability);
		});



		function checkEngNumberAndLowerCase(value) {
			// 영어 소문자 및 숫자를 확인하는 정규 표현식, 4에서 10자까지
			var regex = /^[a-z0-9]{4,10}$/;
			return regex.test(value);
		}

		// 회원가입 중복검사 체크
		function joinForm() {
			// '가입하기' 버튼 클릭 시 중복 확인 상태 체크
			if (!isIdAvailable) {
				alert("아이디 중복 확인을 해주세요.");
				return false; // 중복 확인이 되지 않았으면 가입 처리를 중지
			}

			// 이하 유효성 검사 코드 계속...
			// ...

			// 모든 유효성 검사가 통과하면 true 반환
			return true;
		}

		// 중복확인 버튼을 보여주는 함수
		function showCheckAvailabilityButton() {
			$('#checkAvailabilityButton').show();
		}

		// 중복확인 버튼을 숨기는 함수
		function hideCheckAvailabilityButton() {
			$('#checkAvailabilityButton').hide();
		}



		function joinForm() {
			var id = document.getElementById('id');
			var email = document.getElementById('email');
			var password = document.getElementById('password');
			var cpassword = document.getElementById('cpassword');
			var name = document.getElementById('name');
			var ename = document.getElementById('ename');
			var rrnumber = document.getElementById('rrnumber');
			var address = document.getElementById('address');
			var detailaddress = document.getElementById('detailAddress');
			var phone = document.getElementById('phone');


			// 아이디 영어 소문자, 숫자 포함 확인
			if (!id.value) {
				alert("아이디를 입력하세요.");
				id.focus();
				return false;
			} else if (id.value.length < 4 || id.value.length > 10) {
				alert("아이디는 4자에서 10자 사이어야 합니다.");
				id.focus();
				return false;
			} else if (!/[a-z]/.test(id.value) || !/[0-9]/.test(id.value)) {
				alert("아이디는 영문 소문자와 숫자를 모두 포함하여 입력이 가능합니다.");
				id.focus();
				return false;
			} else if (!isIdAvailable) {
				alert("아이디 중복 확인을 해주세요.");
				return false; // 중복 확인이 되지 않았으면 가입 처리를 중지{
				
			}
			
			//메일주소 확인
			if (email.value.length == 0) {
				alert("메일주소를 입력하세요.")
				email.focus();
				return false;
			}

			else if (email.value.indexOf("@") == -1 || email.value.indexOf(".") == -1 || email.value.length <= 5) {
				alert("잘못된 이메일 형식입니다.")
				email.focus();
				return false;
			}

			//비밀번호 확인
			if (password.value.length < 8 || password.value.length > 16) {
				alert("영문 소문자, 숫자, 특수문자를 각각 하나 이상씩 포함해서 8자리 이상 16자리 이하로 입력하세요.");
				password.focus();
				return false;
			}
			//비밀번호 영어 대소문자 확인
			else if (!checkPasswordComplexity(password.value)) {
				alert("영문 소문자, 숫자, 특수문자를 각각 하나 이상씩 포함해서 8자리 이상 16자리 이하로 입력하세요.");
				password.focus();
				return false;
			}
			//비밀번호와 아이디 비교
			else if (password.value == id.value) {
				alert("아이디와 동일한 비밀번호를 사용할 수 없습니다.")
				password.focus();
				return false;
			}


			//비밀번호 확인
			if (cpassword.value !== password.value) {
				alert("비밀번호와 동일하지 않습니다.")
				cpassword.focus();
				return false;
			}

			//이름 확인 = 한글과 영어만 가능하도록
			if (name.value == "") {
				alert("이름을 입력하세요.")
				name.focus();
				return false;
			}

			else if (!containsOnlyKorean(name.value)) {
				alert("한글만 입력하세요.")
				name.focus();
				return false;
			}

			if (ename.value == "") {
				alert("여권과 동일한 영문 이름을 입력하세요.")
				ename.focus();
				return false;
			}

			else if (!checkEng(ename.value)) {
				alert("영어 대문자만 입력하세요.")
				ename.focus();
				return false;
			}


			if (rrnumber.value == "") {
				alert('생년월일 8자리를 입력해주세요.');
				rrnumber.focus();
				return false;
			}

			else if (rrnumber.value.length < 8 || password.value.length > 18) {
				alert("생년월일 8자리를 입력하세요")
				rrnumber.focus();
				return false;
			}

			else if (!rrnumber.checkValidity()) {
				alert("생년월일을 날짜에 맞게 입력하세요");
				rrnumber.focus();
				return false;
			}


			if (address.value == "") {
				alert('주소를 입력해주세요.');
				address.focus();
				return false;
			}

			if (detailaddress.value == "") {
				alert('상세주소를 입력해주세요.');
				detailaddress.focus();
				return false;
			}

			if (phone.value == "") {
				alert('전화번호를 입력해주세요.');
				phone.focus();
				return false;
			}
			return true;
		}

		console.log("가입하기 버튼 클릭 시 joinForm 함수 호출");


		// 영어, 한글인지(가~힣) 확인
		function checkKorEng(value) {
			var regex = /^[a-zA-Z가-힣]+$/;
			return regex.test(value);
		}

		function checkEng(value) {
			var regex = /^[A-Z]+$/;
			return regex.test(value);
		}



		function containsOnlyEngKorNum(value) {
			// 정규표현식을 사용하여 영어 대소문자, 숫자, 한글로만 구성되어 있는지 확인
			var regex = /^[a-zA-Z0-9가-힣]+$/;
			return regex.test(value);
		}

		function containsOnlyKorean(value) {
			// 정규표현식을 사용하여 한국어만 포함되어 있는지 확인
			var regex = /^[가-힣]+$/;
			return regex.test(value);
		}

		// 비밀번호가 영어 소문자, 숫자, 특수문자를 각각 하나 이상씩 포함하는지 확인하는 정규표현식
		function checkPasswordComplexity(value) {
			var regex = /^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>]).{8,16}$/;
			return regex.test(value);
		}




		//전화번호 자동 - 추가
		(function () {
			'use strict';

			window.addEventListener('load', function () {
				var forms = document.getElementsByClassName('needs-validation');

				Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}

						form.classList.add('was-validated');
					}, false);
				});

				// 전화번호 입력 필드에 자동으로 하이픈 추가
				var phoneInput = document.getElementById('phone');
				phoneInput.addEventListener('input', function (event) {
					var inputValue = event.target.value;
					inputValue = inputValue.replace(/[^0-9]/g, ''); // 숫자 이외의 문자 제거
					if (inputValue.length >= 3 && inputValue.length <= 7) {
						inputValue = inputValue.replace(/(\d{3})(\d{1,4})/, '$1-$2');
					} else if (inputValue.length > 7) {
						inputValue = inputValue.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
					}
					event.target.value = inputValue;
				});
			}, false);
		}());

		//생년월일 . 자동 생성	
		function rrnumber(value) {
			// 숫자만 추출
			var birthday = value.replace(/[^\d]/g, '');

			// 패턴에 맞게 변환 (예: 19991212 -> 1999.12.12)
			var rrnumber = birthday.replace(/(\d{4})(\d{2})(\d{2})/, '$1.$2.$3');

			return rrnumber;
		}

		function formatBirthdate(inputElement) {
			var inputValue = inputElement.value.replace(/[^\d]/g, ''); // 숫자 이외의 문자 제거
			var formattedValue = rrnumber(inputValue);
			inputElement.value = formattedValue;
		}

		// 숫자 입력 시 생년월일에 자동으로 '.' 삽입
		document.getElementById('rrnumber').addEventListener('input', function (event) {
			formatBirthdate(event.target);
		});


	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

</body>

</html>