<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>

<h2>Welcome to My Page</h2>

<div>
    <p>ID: <span th:text="${currentMember.id}"></span></p>
    <p>Name: <span th:text="${currentMember.name}"></span></p>
    <p>Email: <span th:text="${currentMember.email}"></span></p>
    <!-- 추가적인 정보들을 필요에 따라 표시 -->
    
    <!-- 비밀번호 변경 폼 추가 -->
    <form action="/myPage/changePassword" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <label for="currentPassword">현재 비밀번호:</label>
        <input type="password" id="currentPassword" name="currentPassword" th:required="required" />

        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword" th:required="required" />

        <label for="confirmPassword">새 비밀번호 확인:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" th:required="required" />

        <button type="submit">비밀번호 변경</button>
    </form>
	
    <br>
    <!-- 회원 탈퇴 폼 추가 -->
    <form action="/myPage/deleteAccount" method="post">
        <input type="hidden" name="memberId" th:value="${currentMember.id}" />
        <button type="submit">회원 탈퇴</button>
    </form>
    
    <h4>메인 화면으로 <a th:href="@{/index}">이동</a></h4>
</div>

</body>
</html>
